/* width */
.category-options ::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.category-options  ::-webkit-scrollbar-track {
    background: rgb(230, 229, 229);
}
  
  /* Handle */
.category-options  ::-webkit-scrollbar-thumb {
    background: #d36649;
    border-radius: 35px;
}
  
/* Handle on hover */
.category-options  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-btn-color);
}

.trasaction-details{
    width: 90%;
    margin: 10px auto;
}

.trasaction-details p{
    text-decoration: underline;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 16px;
}

.form-group{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-group:not(:last-child){
    margin-bottom: 10px;
}

.form-group label{
    width: 27%;
    font-size: 17px;
}

.form-group input,
#category-form-group #selected-category{
    background-color: white; 
    outline: none;
    border: 0;
    padding: 0 5px;
    width: 70%;
    font-size: 16px;
    height: 30px;
}

/* input[type=date]::-webkit-datetime-edit-year-field{
    color: transparent;
} */

input[type=date]{
    text-transform: uppercase;
}

.form-group span{
    width: 70%;
    background-color: white;
    padding: 0 5px;
}

.form-group span input{
    width: 91%;
}

.trasaction-details .submit-btn{
    color: white;
    border-radius: 15px;
    background-color: var(--main-btn-color);
    border: 0;
    font-size: 17px;
    padding: 10px 16px;
    margin-top: 25px;
}

#category-form-group{
    align-items: flex-start;
    justify-content: flex-start;
}

#category-form-group p{
    width: 26%;
    background-color: transparent;
    text-decoration: none;
    padding-top: 4px;
    margin: 0;
}

#category-form-group .category{
    width: 73%;
    background-color: transparent;
    margin-left: 3px;
    overflow: hidden;
}

#category-form-group .category #selected-category{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    cursor: pointer;
}

.category-options{
    height: 88px;
    overflow: hidden;
    /* display: block; */
}

.category-options ul{
    background-color: white;
    margin: 2px 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    overflow: auto;
}

.category-options li{
    list-style: none;
    border: 1px solid rgb(175, 175, 175);
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 35px;
    text-align: center;
    margin: 4px 0;
    width: 94px;
    cursor: pointer;
}

.category-options li:not(:last-child){
    margin-bottom: 2px;
}

#down-arrow{
    height: 10px;
    margin-right: 14px;
}