/* Profile */

.profile-btn {
    background-color: var(--main-btn-color);
    color: white;
    width: 80px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.profile-btn:hover {
    cursor: pointer;
    border: 1px solid #CD5534;
    color: var(--main-btn-color);
    background-color: white;
    transition: 300ms;
}


.title {
    display: flex;
    align-items: center;
}

.title h2 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-size: 2rem;
}

.profile-intro {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.profile-img {
    margin-right: 5px;
    background-color: whitesmoke;
    border-radius: 50px;
    padding: 10px;
}

.profile-name {
    font-weight: 400;
    font-size: 28px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 90%;
    margin: 10px auto 10px;
    padding: 10px;
    border-radius: 15px;
}

.profile-info label {
    font-size: 14px;
    color: gray;
    margin: 0;
}

.display-name-edit,
.display-email-edit,
.display-password-edit {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.email-and-btn,
.name-and-btn,
.password-and-btn {
    border-bottom: 0.1px solid gray;
    margin-bottom: 10px;
}

.name-and-btn,
.email-and-btn,
.password-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* End of profile  */

/* Settings  */

.checkboxes {
    display: flex;
}

.settings-type {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.settings-type h2 {
    font-weight: 300;
}

.settings-menu {
    width: 85%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 15px;

}

.settings-menu div {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.1rem;
}


.save-btn {
    margin: 10px auto;
}



/* End of Settings  */